# Appplication
*.pdf

# Bytecode de Python
__pycache__/
*.py[cod]

# Pacotes de Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambiente virtual
venv/
ENV/
env/
myenv/

# PyInstaller
# Normalmente os arquivos e pastas relacionados ao PyInstaller podem ser ignorados
# exceto os scripts de entrada e quaisquer outros arquivos explicitamente necessários.
*.manifest
*.spec
dist/
build/
__pycache__/

# VSCode
.vscode/
*.code-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração do editor
*.sublime-workspace
